<h2>Tell us about yourself!</h2>

Job status - As tickbox

Not interested at all in mailing list jobs
I might as well look but it's unlikely I'll change jobs. But hey give me the information anyway
Interested in seeing what's out there (As long as it's relevant)
I'm actively looking for relevant work (Even if I'm presently in a decent job)- Totally confidential
I'm unemployed and I really really need work (Spam me with emails)

What would you like out of RubyJobs

Information on Events (We send max 1 email per fortnight)
General RubyNews
To passively read about companies and what they are up to
To network/chat with other developers
I'd like to get passive e-mails about who's hiring
I'm actively looking for work and I'd like all the e-mails and all the jobs
