
<h1>Daniel Tsui - Why rails is so great- 10:30 </h1>

<button class="btn-sml" id="sort_by_recent">Randomize</button>
<button class="btn-sml" id="sort_by_trending">Recently Asked</button>
<button class="btn-sml" id="sort_by_trending">Trending</button>
<button class="btn-sml" id="sort_by_most_liked">Most Liked</button>

<p>
  A for loop goes on this page that iterates through questions
</p>

<% @events.each do |event| %>

  <h3><%= event.title %></h3>
  <p><%= event.speaker %></p>
  <p><%= event.description %></p>

<% end %>


<button id="myBtn" class="button">Ask a question</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <h1>Ask a Question</h1><BR />

    <%= form_tag '/login', method: 'patch' do %>
      <label>Title: </label>
      <input class="std_input" name='question_title' placeholder="Question Title" autofocus required><BR />
      <label>Question:</label>
      <textarea rows="4" cols="50" class="std_input_xl" name='question_body' placeholder="Question in detail" required></textarea><BR />
      <button class="button" id="submit_question">Submit</button>
    <% end %>

    <ol>
      <li><h6>Please check if a similar question has already been asked.</h6></li>
      <li><h6>Asking a question will use one of your three votes </h6></li>
    </ol>
  </div>

</div>
