<%= f.label :remote_work, label: 'Is remote work an option?', as: :radio_buttons %><br>

<input id="remote_yes" name="remote_yes" type="radio"/>
<label class="collection_radio_buttons" for="remote_yes">Yes</label>

<input id="remote_no" name="remote_yes" type="radio"/>
<label class="collection_radio_buttons" for="remote_no">No</label>

<br>

<%= f.label :sponsor, label: 'Would your company be able to and willing to sponsor a really good applicant?', as: :radio_buttons %><br>

<input id="sponsor_yes" name="sponsor" type="radio"/>
<label class="collection_radio_buttons" for="sponsor_yes">Yes</label>
<input id="no" name="sponsor" type="radio"/>
<label class="collection_radio_buttons" for="no">No</label>

<br>
