<h2 id="heading_main">An advertisement with RubyJobs is free and is aimed purely to connect great local developers with great opportunities</h3><br>

<p id="text_headings">To keep the site amazing for both employers as well as developers we do have <a>advertising criteria</a> to follow. Also note the best way to attract great talent isn't necessarily just advertising. Consider <a>creating a company bio</a> (highly recommended), you may want to <a>message the mailing list</a>, consider <a>browsing our actively looking for work developers </a> or see our tips on <a>Raising your companies brand awareness</a>.</p>

<p id="text_headings"><b>Consider reading - <a>What makes developers apply to a job advertisement?</a></b></p>

<h3 id="heading_basic">Describe your vacancy?</h3>
