<label id="text_default">Your company: <span class="glyphicon glyphicon-info-sign" id="company_info" aria-hidden="true"></span> </label><br>
<input class="std_input" name='location_input'><br>
<label id="text_default">Job Title:</label><br>
<input class="std_input" name='job_title_input' autofocus required><br>
<label id="text_default">Location:</label><br>
<input class="std_input" name='location_input' ><br>
