<label id="text_default">Which of the following most accurately describes your company?</label><br>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="radio" autocomplete="off" checked>Recruitment Agency
  </label>
  <label class="btn btn-primary">
    <input type="radio" autocomplete="off">Digital Agency
  </label>
  <label class="btn btn-primary">
    <input type="radio" autocomplete="off">Consultancy/Services
  </label>
  <label class="btn btn-primary">
    <input type="radio" autocomplete="off">Product company
  </label>
</div><br>
