<%= f.label :company_type, label: 'Which of the following most accurately describes your company?', as: :radio_buttons %><br>

<input id="recruitment_agency" name="user[options]" type="radio"/>
<label class="collection_radio_buttons" for="recruitment_agency">Recruitment Agency</label>

<input id="digital_agency" name="user[options]" type="radio"/>
<label class="collection_radio_buttons" for="digital_agency">Digital Agency</label>

<input id="consultancy" name="user[options]" type="radio"/>
<label class="collection_radio_buttons" for="consultancy">Consultancy/Services</label>

<input id="product" name="user[options]" type="radio"/>
<label class="collection_radio_buttons" for="product">Product company</label>

<br>
