<%= f.label :seniority, label: 'What level(s) of seniority are you open to considering?', as: :check_boxes %><br>

<input id="internship" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="internship">Internship (No commercial experience)</label>

<input id="junior" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="junior">Junior (0-2 years)</label>

<input id="mid_level" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="mid_level">Mid-Level (2-5 years)</label>

<input id="senior" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="senior">Senior (5-7+ years)</label>

<input id="team_lead" name="user[options]ß" type="checkbox" />
<label class="collection_radio_buttons" for="team_lead">Team Lead (7+ years)</label>

<input id="management" name="user[options]" type="checkbox" />
<label class="collection_radio_buttons" for="management">Team Management/CTO</label>

<br>

<i>Please Note: Our community needs more juniors. We love companies that invest back into the community by hiring passionate juniors.</i><br><br>
