<label id="text_default">What level(s) of seniority are you open to considering?</label><br>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" name="options" id="option1" autocomplete="off"> Internship (No commercial experience)
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" name="options" id="option2" autocomplete="off"> Junior (0-2 years)
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" name="options" id="option3" autocomplete="off"> Mid-Level (2-5 years)
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" name="options" id="option4" autocomplete="off"> Senior (5-7+ years)
  </label>
  <label for="options" class="btn btn-primary">
    <input type="checkbox" name="options" id="option5" autocomplete="off"> Team Lead (7+ years)
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" name="options" id="option6" autocomplete="off"> Team Management/CTO
  </label>
  <br><br><i>Please Note: Our community needs more juniors. We love companies that invest back into the community by hiring passionate juniors.</i><br>
