<%= f.label :seniority, label: 'What types of work are you open to considering offering?', as: :check_boxes %><br>

<input id="permanent_full_time" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="permanent_full_time">Permanent (Full-time)</label>

<input id="permanent_part_time" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="permanent_part_time">Permanent (Part-time)</label>

<input id="contract" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="contract">Contract (Limited duration)</label>

<input id="freelance" name="user[options]" type="checkbox"/>
<label class="collection_radio_buttons" for="freelance">Freelance (Ad-Hoc)</label>

<input id="internship_work_type" name="user[options]" type="checkbox" />
<label class="collection_radio_buttons" for="internship_work_type">Internship</label>

<br>
