<h3 id="heading_main">Let's find your dream job</h3>

<% if !@advertisments.nil? %>
  <% @advertisments.each do |advertisment| %>
    <h3><%= advertisment.company %> - <%= advertisment.job_title %></h3>
    <h5><%= advertisment.location %></h5>
    <br>
  <% end %>
<% else %>
  <h3>There are no advertiments to show</h3>
<% end %>
