<div class="jumbotron">
  <div class="container">

    <h2 id="heading_main">An advertisement with RubyJobs is free and is aimed purely to connect great local developers with great opportunities</h3><br>

    <p id="text_headings">To keep the site amazing for both employers as well as developers we do have <a>advertising criteria</a> to follow. Also note the best way to attract great talent isn't necessarily just advertising. Consider <a>creating a company bio</a> (highly recommended), you may want to <a>message the mailing list</a>, consider <a>browsing our actively looking for work developers </a> or see our tips on <a>Raising your companies brand awareness</a>.</p>

    <p id="text_headings"><b>Consider reading - <a>What makes developers apply to a job advertisement?</a></b></p>

    <h3 id="heading_basic">Describe your vacancy?</h3>

    <%= form_tag advertisments_path, method: 'post' do %>

      <button class="btn">Create advertisment</button>
    <% end %>

    <%= render partial: "company_details"%>
    <%= render partial: "company_type"%>
    <%= render partial: "seniority"%>


            <label id="text_default">What is your rough salary range?</label><br>
            ---------- Im A SLIDER BAR WOOO ----------<br>

        <label id="text_default">What types of work are you open to considering offering? <i>One or more</i></label><br>

        <div class="btn-group" data-toggle="buttons">
          <div class="input-group">
          <span class="input-group-addon">
            <label id="text_default">Permanent (Full-time)</label>
            <input type="checkbox" aria-label="..."><br>
            <label id="text_default">Permanent (Part-time)</label>
            <input type="checkbox" aria-label="..."><br>
            <label id="text_default">Contract (Limited duration)</label>
            <input type="checkbox" aria-label="..." autocomplete="off"><br>
            <label id="text_default">Freelance (Ad-Hoc)</label>
            <input type="checkbox" aria-label="..." autocomplete="off"><br>
            <label id="text_default">Internship</label>
            <input type="checkbox" autocomplete="off">
  </label>
</div><br>

        <label id="text_default">Is remote work an option?</label><br>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes </label>
          <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> No </label>
        </div><br><br>

        <label id="text_default">Would your company be able to and willing to sponsor a really good applicant?</label><br>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes </label>
          <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> No </label>
        </div><br><br>

        <label id="text_default">Would you consider someone to work remotely?</label><br>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Yes </label>
          <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> No </label>
        </div>
            </div><br>

            <label id="text_default">Are you able to describe the project or type of projects the successful person will likely be working on:</label><br>
            <textarea cols="50" rows="4" name='description_input'></textarea><br>
            <label id="text_default">Perks of the role:</label><br>
            <textarea cols="50" rows="4" name='description_input'></textarea><br>
            <label id="text_default">Necessary Skills:</label><br>
            <textarea cols="50" rows="4" name='skills_required'></textarea><br>
            <label id="text_default">How should people apply:</label><br>
            <textarea cols="50" rows="4" name='apply_details'></textarea><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

Information box to sit top right

We know writing ads can be boring an ineffecient! Why not make a <a>company bio</a> and let the community know about you and what you are usually looking for. Even better when JobMatcher comes out you could be automatically matched with the staff you need!

help icon text on hover - <i>We understand 'blind posts' are sometimes necessary. Specifying the company name will increase applications but if absolutely necessary you can leave this blank.</i>
