<div class="jumbotron">
  <div class="container">
    <h3 id="heading_main"> <%= @advertisment.company %> - <%= @advertisment.job_title %></h3>
    <h4> <%= @advertisment.location %> </h4>
  <div>
<div>


  <%= link_to "Edit Advertisment", edit_advertisment_path(@advertisment.id) %>
