<h2>Edit Page</h2>

<%= form_tag "/event/edit/#{@event.id}", method: 'patch' do %>
  <label>Name:</label><BR />
  <input class="std_input" name='event_title_input' value="<%= @event.title %>" autofocus required><BR />
  <label>Description:</label><BR />
  <textarea cols="50" rows="10" name='description_input' required><%= @event.description %></textarea><BR />
  <label>Speaker:</label><BR />
  <input class="std_input" name='speaker_input' value="<%= @event.speaker %>" required><BR />
  <button class="button">Save Changes</button>
<% end %>
