<h1>New Advertisment</h1>

<%= form_tag '/event_new', method: 'patch' do %>
  <label>Job Title:</label><BR />
  <input class="std_input" name='job_title_input' autofocus required><BR />
  <label>Seniority:</label><BR />
  5 tick boxes go here
  <label>Location:</label><BR />
  <input class="std_input" name='location_input' ><BR />
  <label>Perks of the role:</label><BR />
  <textarea cols="50" rows="7" name='description_input'></textarea><BR />
  <label>Necessary Skills:</label><BR />
  <textarea cols="50" rows="7" name='skills_required'></textarea><BR />
  <label>How To Apply:</label><BR />
  <textarea cols="50" rows="7" name='apply_details'></textarea><BR />
  <button class="btn">Create</button>
<% end %>
