<h1>Welcome to RubyJobs - Australia</h1>

<h2>What is RubyJobs?</h1>

<ol>
  <li><h3>A Not-For-Profit Job Board</h3></li>
  <li><h3>A way to quickly find great staff or a great job</h3></li>
  <li><h3>A place to advertise + search for staff</h3></li>
  <li><h3>You can list yourself as seeking employment and make yourself a profile</h3></li>
  <li><h3>Follow or post to our Mailing-List</h3></li>
  <li><h3>A place to bond with Australia's great network of friendly developers</h3></li>
  <li><h3>Keep in touch with all the latest ongoings with ruby in Australia</h3></li>
</ol>

<button class="button">Login</button>
<button class="button">Signup</button>
<button class="button">Continue without login</button>


<!-- <h2>What is RubyJobs?</h1>

<ol>
  <li><h3>A Not-For-Profit Job Board</h3></li>
  <li><h3>A way to quickly find great staff or a great job</h3></li>
  <li><h3>A place to advertise + search for staff</h3></li>
  <li><h3>You can list yourself as seeking employment and make yourself a profile</h3></li>
  <li><h3>Follow or post to our Mailing-List</h3></li>
  <li><h3>A place to bond with Australia's great network of friendly developers</h3></li>
  <li><h3>Keep in touch with all the latest ongoings with ruby in Australia</h3></li>
</ol> -->

<!-- Continue without login -->
