<div class="jumbotron">
  <div class="container">

    <h2 id="heading_main">RubyJobs simplifies life for developers and the companies they work with</h3><br>

    <p id="text_headings">RubyJobs isn't just for jobs. RubyJobs is a one stop shop to see what's happening in the community, search for a job/developer, advertise your company/yourself, message our mailing list, create a company/personal bio and lastly we are working on a <i>'job matching system'</i> to help send relevant opportunities to the correct people automatically</p>

    <p id="text_headings"><b>Thanks to  community input RubyJobs is 100% free and is riding Ruby On Rails</b></p>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" id="icon_box">
        <i class="fa fa-camera-retro fa-4x" id="icon"></i>
        <div class="caption">
          <h3 id="heading_basic">Connect with the community</h3>
          <p id="text_default">Not looking for a job right now? No problem we aren't just for jobs! You can still sign up to get ruby news and chat! We won't spam you! We'd also love to hear if you might be interested in tutoring juniors!</p>
          <div id="buttons_div">
            <a href="#" class="btn btn-default" id= "btn_centered" role="button">Create a profile (Non-job seeker)</a>
            <a href="#" class="btn btn-warning" id= "btn_centered" role="button">What events are coming up?</a>
            <a href="#" class="btn btn-primary" id= "btn_centered" role="button">Join our Mailing list</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" id="icon_box">
        <i class="fa fa-briefcase fa-4x" id="icon"></i>
        <div class="caption">
          <h3 id="heading_basic">Looking for a job?</h3>
          <p id="text_default">RubyJobs is only Ruby Jobs. It's not full of garbage that won't interest you. It's a place where advertisers must meet strict requirements to post jobs. All jobs are clear and validated.</p>
          <div id="buttons_div">
            <a href="#" class="btn btn-default" role="button" id="btn_centered">Create a job-seeker profile (Recommended)</a>
            <a href="#" class="btn btn-warning" role="button" id="btn_centered">Browse advertised jobs</a>
            <a href="#" class="btn btn-primary" role="button" id="btn_centered">Browse companies that could be interested</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" id="icon_box">
          <i class="fa fa-paper-plane-o fa-4x" id="icon" aria-hidden="true"></i>
          <div class="caption">
            <h3 id="heading_basic">Looking for a Developer?</h3>
            <p id="text_default">RubyJobs is a one stop shop. Advertise your company, message our mailing list, create a company bio for expressions of interest and browse actively looking developers</p>
            <div id="buttons_div">
              <a href="#" class="btn btn-default" role="button" id= "btn_centered">Create a company profile (Recommended)</a>
              <a href="#" class="btn btn-warning" role="button" id= "btn_centered">Browse developers (Beta)</a>
              <a href="#" class="btn btn-primary" role="button" id= "btn_centered">Create an advertisment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
