<div class="jumbotron">
  <div class="container">
  <h1>Hey your logged in! - Welcome - Username/Email</h1>

    <p3>RubyJobs isn't just about Jobs. We are a community site to help promote ruby as an awesome language, connect developers, promote meetups and overall just make things as awesome as we can.</p3><br>

    <p3>Whether looking for a job now or not we highly recommend creating a profile. It takes < 2 minutes. It will help you connect with the community, let us know what you're interested in and if you like send you notifications about upcoming events that may interest you.

  <div class="row">
    <div class="col-12">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>My Profile</h3>
          <p><a href="#" class="btn btn-primary" role="button">Let's go</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Looking for a job?</h3>
          <p>RubyJobs is only Ruby Jobs. It's not full of garbage that won't interest you. It's a place where advertisers must meet strict requirements to post jobs. Thus there are no fake jobs. All jobs are clear in what they need, approximate salary, tech stake, location etc... Agencies are welcome but for transparancy are marked - Agency.</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="question mark image">
        <div class="caption">
          <h3>What is RubyJobs?</h3>
          <p>How do you make money? Why does this site exist</p>
          <p><a href="#" class="btn btn-primary" role="button">Browse Jobs</a> <a href="#" class="btn btn-default" role="button">Make me a profile</a></p>
        </div>
      </div>
    </div>

</div>
