<h2> Companies using Ruby on Rails </h2>

<h3> <% @company.each %> </h3>
<% if @company.present? %>
  <% @company.each do |company| %>
    <h3><%= link_to "#{company.name} - #{company.bio}", company_profile_path(company.id)%></h3>
  <% end %>
<% else %>
  <h3>There are no Company Profiles to show at this time</h3>
<% end %>
