<div class="jumbotron">
  <div class="container">
    <h2 id="heading_main"> <%= @company.name %> </h3>
    <h3> Company Bio: <%= @company.bio %> </h3>
    <h4> Website: <%= @company.website %> </h4>
  <div>
<div>
