
<h2>What's happening in Melbourne</h2>

<% if !@events.nil? %>

  <% @events.each do |event| %>
    <a href="/event/<%= event.id %>">
    <h3 id="event_title"><%= "#{event.title} - #{event.time}" %> </h3></a>
    <div style="margin-left:2rem"><%= event.description %></div>
  <% end %>

<% else %>
  <h3>There are no events to show</h3>
<% end %>
