<%# Admin page %>

<%= form_tag '/event_new', method: 'get' do %>
  <button class="button" style="float:right">Add an event</button><br>
<% end %>

<h2>Administration - Add or edit events</h1><BR />

<h2>Current Events List</h2>

<% if !@events.nil? %>

  <% @events.each do |event| %>
    <a href="/event/show/<%= event.id %>">
    <h3 id="event_title"><%= "#{event.title} - #{event.speaker} - #{event.time}" %> </h3></a>
    <div style="margin-left:2rem"><%= event.description %></div>
  <% end %>

<% else %>
  <h3>There are no events to show</h3>
<% end %>
