<%# AGENDA PAGE %>

<h1>WDI6 SUMMIT- Today's Agenda</h1>

<% @events.each do |event| %>

  <a href="/event/<%= event.id %>">
  <h3 id="event_title"><%= "#{event.title} - #{event.speaker} - 10:30" %> </h3></a>
  <div style="margin-left:2rem"><%= event.description %></div>

<% end %>
