<h1>Daniel Tsui - Why rails is so great</h1> <div>This needs to be passed</div>

<p>
  A for loop goes on this page that iterates through questions
</p>


<button id="myBtn">Ask a question</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <p>Here's the create a question page</p>
    Title<input />
    Question<input />
  </div>

</div>
