
<BR />
<h1>Edit your details <BR /><BR /></h1>
<BR />
<BR />
<div>
  Name<input class="input_small">
</div>
<div>
  Company<input />
</div>
<div>
  Years experience<input />
</div>
<div>
  Name<input class ='edit_profit_input_field' id = 'name'>
</div>


<%= link_to 'START', new_login_path %>
