<h1>Edit your details </h1>

<div>
  Name: <input class="std_input">
</div>

<div>
  Company: <input class="std_input">
</div>

<div>
  Years experience: <input class="std_input">
</div>

<div>
  Name: <input class="std_input" id = 'name'>
</div>

<%= link_to 'START', new_login_path, class: "button"  %>
