<%#Creating a new loggin session - This is the first page%>

<h1>Participation Code</h1>

<%= form_tag '/login', method: 'get' do %>
  <input class="std_input" name='input_code'required>
  <h6>This is found on your venue ticket</h6>
    <p><%=@errormessage%></p>

  <button class="button">SUBMIT</button>
<% end %>
<%#simple form - gem
#form for - rails thingo %>
