
<h1>Welcome! <BR /><BR /><BR />

Your code has been activated.</h1><BR />
<h3>The fields below are optional. If you do not enter a name your questions will be posted as anonomous</h3>
<BR />
<BR />
<div>
  Name<input />
</div>
<div>
  Company<input />
</div>
<div>
  Years experience<input />
</div>
<div>
  Name<input class ='edit_profit_input_field' id = 'name'>
</div>



<%= link_to 'START - EDIT ME', agenda_index_path %>
