<h1>Welcome!</h1>
<h2>Your code has been activated.</h2>
<h3>The fields below are optional. If you do not enter a name your questions will be posted as anonomous</h3>

<div>
  Name: <input class="std_input">
</div>

<div>
  Company: <input class="std_input">
</div>

<div>
  Years experience: <input class="std_input">
</div>

<div>
  Email: <input class="std_input" id='name'>
</div>

<%= link_to 'START', agenda_index_path, class: "button" %>
