<%#P2 - Optional editing of the loggin session - This comes after the new page%>

<h1>Welcome!</h1>
<h3>Your code has been activated</h3>
<h4>The fields below are optional. If you do not enter a name your questions will be posted as anonomous</h4>

<%= form_tag '/login', method: 'patch' do %>
  <label>Name:</label>
  <input class="std_input" name='name_input' default="sup"><BR />
  <label>Email:</label>
  <input class="std_input" name='email_input'><BR />
  <button class="button" id="start">START</button>
<% end %>
