*{
  padding:0px;
  margin:0px;
  color:black;
  list-style: none
}

li {
  margin-left:1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

h2 {
  margin-top:.8rem;
}

/* MODEL START */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MODEL END */

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  background-color: tomato;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  line-height: 11px;
}


.header_right {
  padding: 1rem;
  float: right;
  color:grey;
  text-decoration:none;
}

.header_left {
  padding: 1rem;
  float: left;
  color:grey;
  text-decoration:none;
}

hr {
  width:100%;
  color:black;
}

.container {
  margin-left:2.5rem;
}

header {
  margin-bottom:2.5rem;
}

header > h3{
  cursor: pointer;
}

.input_small{
  width:10rem;
  color:red;
}

button {
  min-height:2rem;
  min-width:6rem;
}

p, div {
  margin-bottom:1rem;
}


.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   padding: 1rem 2rem;
   margin:2rem;
   border-radius: 14px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 1rem;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: top;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.std_input {
  font-size:1rem;
  margin-bottom: 1rem;
}

.agenda_item{
  padding-top:1.2rem;
  padding-bottom:1.2rem;
  margin-bottom: .7rem;
  font-size:18px;
  color:black;
  background-color:lightblue;
  list-style:none;
  font-variant: small-caps;
}


header {
  padding:.1rem;
  background-color: black;
  color:yellow;
  font-family:fantasy, monospace;;
}

.container {
  width:70%;
}
