*{
  padding:0px;
  margin:0px;
  color:black;
}


/* MODEL START */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MODEL END */

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.header_right {
  padding: 17px;
  float: right;
  color:grey;
}

.header_left {
  padding: 17px;
  float: left;
  color:grey;
}

hr {
  width:100%;
}

.container {
  margin-left:2.5rem;
}

header {
  margin-bottom:2.5rem;
}

header > h2{
  cursor: pointer;
}

.input_small{
  width:10rem;
  color:red;
}

button {
  height:2rem;
  width:6rem;
}

p, div {
  margin-bottom:1rem;
}


.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   padding: 13px 26px;
   margin:20rem;
   border-radius: 14px;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.std_input {
  width: 15rem;
  height: 1.5rem;
  padding-bottom: .5rem;
}

.agenda_item{
  padding-top:1.2rem;
  padding-bottom:1.2rem;
  margin-bottom: .7rem;
  font-size:20px;
  color:black;
  background-color:lightgrey;
  list-style:none;
  font-variant: small-caps;
}

h1, h2, h3 {
  padding-bottom: 2rem;
}
