<!DOCTYPE html>
<html>
<head>
  <title>Questionable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2 class="header_left">Questionable</h2>
    <h2 class= "header_right">Schedule</h2>
    <h2 class="header_right">Logout</h2>
    <HR class="hr">
  </header>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
